# 编译产物
build/
cloudwubi_demo
cloudwubi_demo_offline
*.o
windows/core/eval_test
windows/core/dict_test
windows/core/*.o
apk*/

# 本地构建工具（勿提交）
android/android-14/
android/*.zip
android/r8.jar

android/build-apk/
*.zip
